.sidemenuwrapper {
	position: relative;
	display: inline-block;
}

.sidemenucontainer {
	position: absolute;
}

.sidemenubutton {
	position: relative;
	display: block;
	cursor: pointer;
	background-repeat: no-repeat;
}

.sidemenubutton a {
	position: absolute;
	top: 0;
	left: 0;
	width: inherit;
	height: inherit;
}

